h1 {
    padding: 0px 70px 0px 70px;
    text-align: center;

    font-family: 'Lora', serif;
    color: orange
}

h3 {
    padding: 0px 70px 0px 70px;
    font-family: 'Lora', serif;
    color: orange
}

h4 {
    padding: 0px 70px 0px 70px;
     font-family: 'Lora', serif;
    color: orange
}

h5 {
    padding: 0px 70px 0px 70px;
    font-family: 'Lora', serif;
    color: orange
}

p {
    padding: 0px 70px 0px 70px;
    text-align: center;

    font-family: 'Lora', serif;
    color: black
}

#navigation {
    
    list-style-type:none;
    font-family: 'Lora', serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color:#F8A13E;
    width: 100%;
    line-height: 70px;
    text-align: center;
    
}

.websiteNameBar{
  padding-top: 20px;
  font-family: 'Lora', serif;
  font-size: 40px;
  text-align: center;
}
.longDivider {
  flex-grow: 1;
  border-top: 3px solid #d38a36;
  margin: 0px;

}
navbar li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;

}
navbar a:link{
  color: black;
  text-decoration: none;
}
navbar a:visited{
  color: black;
  text-decoration: none;
}
navbar a:hover{
  color: black;
  text-decoration: none;
}
navbar a:active{
  color:black;
  text-decoration: none;
}

navbar li{
  border:none;
  position: relative;
}
navbar li:hover{
  border: none;
}

.active{
color:white;
font: bold;
font-size: 30px;
background-color: #fac282;

}

navbar li::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color:#91CB3E ;
  transition: all ease-in-out .2s;

}  
navbar li:hover::after{
  width: 100%;
  left: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
  }
  
  .slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
  }
  
  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
  }
  
  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
  }
  
  .carousel-button:focus {
    outline: 1px solid black;
  }
  
  .carousel-button.prev {
    left: 1rem;
  }
  
  .carousel-button.next {
    right: 1rem;
  }  

