h1 {
    text-align: center;

    font-family: 'Lora', serif;
    color: orange
}
h3 {
    font-family: 'Lora', serif;
    color: orange
}

h4 {
     font-family: 'Lora', serif;
    color: orange
}

h5 {
    font-family: 'Lora', serif;
    color: orange
}

#navigation {
    
    list-style-type:none;
    font-family: 'Lora', serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color:#F8A13E;
    width: 100%;
    line-height: 70px;
    text-align: center;
    
}

.websiteNameBar{
  padding-top: 20px;
  font-family: 'Lora', serif;
  font-size: 40px;
  text-align: center;
}
.longDivider {
  flex-grow: 1;
  border-top: 3px solid #d38a36;
  margin: 0px;

}
navbar li{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;

}
navbar a:link{
  color: black;
  text-decoration: none;
}
navbar a:visited{
  color: black;
  text-decoration: none;
}
navbar a:hover{
  color: black;
  text-decoration: none;
}
navbar a:active{
  color:black;
  text-decoration: none;
}

navbar li{
  border:none;
  position: relative;
}
navbar li:hover{
  border: none;
}

.active{
color:white;
font: bold;
font-size: 30px;
background-color: #fac282;

}

navbar li::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color:#91CB3E ;
  transition: all ease-in-out .2s;

}  
navbar li:hover::after{
  width: 100%;
  left: 0;
}




  #carouselExampleIndicators img {
    width: 100%;  /* fit the image within the div */
    /* FANCY ADVANCED CSS - calc():
           calculates the height of the full page (100vh)
           minus the height of the navbar (56px)
           minus the height of the second-navbar (50px)
      allocates this height to the carousel images, so that the carousel, navbar, and second-navbar can all fit on the page (regardless of screen size)
   */
    height: calc(100vh - 56px - 50px);
    object-fit: cover;  /* "object-fit" property has various options for fitting an image within a specified space (works because both the img width and height are specified) */
  }

  .container {
    padding-top: 30px;
    padding-bottom: 20px;
  }

#ending {
    text-align: center;
}


